

@media only screen and (max-width: 960px) {
    #section-1 h1 {
        font-size: 1.8em !important;
        font-family: arial,helvetica;
        margin: 0;
        padding: 0;
        line-height: 0.3 !important;
    }
    #section-1 h2 {
        color: rgba(255,255,255,.7) !important;
        font-size: 1.0em !important;
        font-weight: 100;
        margin-top: 10%;
        line-height: 0.5em !important;
    }
    #section-1 h3 {
        color: rgba(255,255,255,.8) !important;
        font-size: 1.2em !important;
        font-weight: 100;
        margin-top: 6%;
        line-height: 0.5em !important;
    }
}
.lh{
    line-height:1.2!important;
}

    #section-1 h1 {
   font-weight:100 !important;
}
h1 {
    font-size: 5em !important;
    font-family: arial,helvetica;
    margin: 0;
    padding: 0;
    line-height: 0 !important;
}
.uk-h1{
    line-height:0 !important;
}
#section-1 h2 {
    color: rgba(255,255,255,.7) !important;
    font-size: 1.73em !important;
    font-weight: 100;
    margin-top:6%;
    line-height: 0!important;
}
.highlight {
    color: #E31B6D;
}
.uk-overlay-panel.uk-position-bottom-center.uk-icon-button {
    bottom: 15%;
    z-index:999;
}
.uk-modal-dialog {
    background: -webkit-gradient(linear, top left, bottom left, from(rgb(146,161,202,0.93)), to(rgb(118,194,189,0.93))) !important;
    background: -webkit-linear-gradient(#92a1ca, #76c2bd ) !important;
    background: linear-gradient(#92a1ca ,#76c2bd ) !important;
}
#section-1 {
    background-image: url('../Media/bg.jpeg');
    background-size:cover;
  
}
.logo {
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 32px;
    letter-spacing: -1.5px;
    color: #444;
    font-family: 'Open Sans';
    font-weight: 600;
    color:white;
   left:15px !important;
   top:20px !important;
}
uk-overlay-panel.uk-position-center.uk-light{
    z-index:999!important;
}

.w{
    color:white !important;
}
.wh{
    color:white !important;
}
.w h3{
    color: white !important;
}

.uk-nav-primary > li > a {
    color: white !important;
    font-size: 60px !important;
    line-height: 60px !important;
    font-family: 'Open Sans' !important;
    font-weight: 700 !important;
    letter-spacing: -1px !important;
}
.uk-nav-header{
    font-size:2em!important;
    color:whitesmoke!important;
}

.uk-overlay-primary{
    background: rgba(34, 34, 34, 1)!important;
}

.uk-iconnav > * > *{
    color:white !important;
}
.uk-overlay-panel.uk-position-top-right.uk-icon.w.uk-sticky.uk-sticky-fixed {
    color: white ;
    width: 45px !important;
    top: 10px !important;
    right: 10px !important;
}
#scm li a {
    color: #fd0025 !important;
}
#b {
    overflow: hidden;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white !important;
}

#about p,h2{
    color:white!important;
}
#about h3 {
    color: white !important;
}

.blur::before {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*Skill Bar CSS*/

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: #eee;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}


.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 9px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .skillbar-title span {
        display: block;
        background: rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        height: 20px;
        line-height: 20px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
 

.skillbar-bar {
    height: 20px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

/*Css Animation Projects*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#project:hover .overlay {
    opacity: 0.83;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*Contact Animation*/
.Object, .ObjectContainer a {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.ObjectContainer {
    width: 400px !important;
    height: 400px !important;
    
    display: block;
    position: relative;
    overflow: hidden;
}

    .ObjectContainer .Object {
        display: block;
        width: 100%;
        height: 100%;
    }
    .ObjectContainer h5 {
        position: absolute;
        bottom: 50%;
        left: 0;
        opacity: 1;
        color: #fd0025;
        width: 100%;
        line-height: 0px;
        text-align: center;
        vertical-align: middle;
        font-family: Playfair Display;
        font-size: 18px;
        line-height: 28px;
        
    }
.r {
     color: #fd0025!important;
}
    .ObjectContainer h2 {
        position: absolute;
        bottom: 40%;
        left: 0;
        opacity: 1;
        color: #fd0025!important;
        width: 100%;
        line-height: 0px;
        text-align: center;
        vertical-align: middle;
        font-family: Montserrat;
        letter-spacing: -1px;
        font-size: 50px;
        line-height: 50px;
        font-weight: 700;
    }

    .ObjectContainer a {
        position: absolute;
        bottom: 50%;
        left: 0;
        opacity: 1;
        color: #fd0025;
        width: 100%;
        line-height: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .ObjectContainer:hover .Object {
        margin: 2.5%;
        height: 95%;
        width: 95%;
        border-radius: 200px !important;
        /* -webkit-transform: rotate(100deg);
            -moz-transform: rotate(100deg);
            -ms-transform: rotate(100deg);
            -o-transform: rotate(100deg);
            transform: rotate(100deg); */
    }


#red.Object {

    border: 10px solid #fd0025;
}

#form-modal .uk-modal-dialog {
    /*background: #fd0025 !important;*/
}