
h1 {
    font-size: 5em !important;
    font-family: arial,helvetica;
    margin: 0;
    padding: 0;
    line-height:0 !important;
}
.uk-h1{
    line-height:0 !important;
}
#section-1 h2 {
    color: rgba(255,255,255,.7) !important;
    font-size: 1.73em !important;
    font-weight: 100;
    margin-top:6%;
    line-height: 0!important;
}
.highlight {
    color: #E31B6D;
}
.uk-overlay-panel.uk-position-bottom-center.uk-icon-button {
    bottom: 15%;
    z-index:999;
}
.uk-modal-dialog {
    background: -webkit-gradient(linear, top left, bottom left, from(rgb(146,161,202,0.93)), to(rgb(118,194,189,0.93))) !important;
    background: -webkit-linear-gradient(#92a1ca, #76c2bd ) !important;
    background: linear-gradient(#92a1ca ,#76c2bd ) !important;
}
#section-1 {
    background-image: url('../Media/bg.jpeg');
    background-size:cover;
  
}
.logo {
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 32px;
    letter-spacing: -1.5px;
    color: #444;
    font-family: 'Open Sans';
    font-weight: 600;
    color:white;
   left:15px !important;
   top:20px !important;
}
uk-overlay-panel.uk-position-center.uk-light{
    z-index:999!important;
}
}
.w{
    color:white !important;
}

.uk-nav-primary > li > a {
    color: white !important;
    font-size: 60px !important;
    line-height: 60px !important;
    font-family: 'Open Sans' !important;
    font-weight: 700 !important;
    letter-spacing: -1px !important;
}
.uk-nav-header{
    font-size:2em!important;
    color:whitesmoke!important;
}

.uk-iconnav > * > *{
    color:white !important;
}
.uk-overlay-panel.uk-position-top-right.uk-icon.w.uk-sticky.uk-sticky-fixed {
    color: white !important;
    width: 45px !important;
    top: 10px !important;
    right: 10px !important;
}


#b{
    overflow:hidden;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white !important;
}