@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="offcanvas-push" uk-offcanvas="mode: reveal; ">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h4>Bachelor Degree In Web Development</h4>
        <p>  Business Academy Aarhus <br>2017-2019</p>
        <h4>AP Degree Multimedia Design And Communication</h4>

        <p>International Business Academy Kolding<Br>2015-2017</p>

        <h4>High School Diploma Mathematics and Computer Science</h4>

        <p>National College "Octavian Goga" Miercurea Ciuc<br>2011-2015</p>

    </div>
    </div>