@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="form-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default w" type="button" uk-icon="icon: close; ratio: 2"></button>
      
        <div class="uk-flex-middle ">
            <div class="uk-background gradient-menu" uk-height-viewport>
           @Umbraco.RenderMacro("Form")
            </div>
  
        </div>

    </div>
</div>