
@*Mockups*@



<div class="container">
    <div class="screen monitor ">
        <div class="content uk-background-cover" style="background-image: url('@Model.PrototypeImage.Url');">

        </div>
        <div class="base">
            <div class="grey-shadow"></div>
            <div class="foot top"></div>
            <div class="foot bottom"></div>
            <div class="shadow"></div>
            <div class="keyboard">
                <div class="btm"></div>
                <ul class="keys">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="shadow"></div>
            </div>
        </div>
    </div>
    <div class="laptop">
        <div class="content uk-background-cover" style="background-image: url('@Model.PrototypeImage.Url');">

        </div>
        <div class="btm"></div>
        <div class="shadow"></div>
    </div>
    <div class="phone">
        <div class="screen">
            <div class="content uk-background-contain" style="background-image: url('@Model.PrototypeImage.Url');">

            </div>
        </div>

        <div class="shadow"></div>
    </div>

</div>
