@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="uk-overlay-panel uk-position-center uk-light " style=" z-index:999!important;">
    <div class=" uk-overlay-panel ">
        <h1 uk-parallax="target: #section-1; y: 200; easing: 0">Hello, I'm <span class="highlight">Radu Dobos</span> .</h1>
        <h2>I am a Web Developer. <span class="uk-h2" id="msg"></span></h2>
    </div>
</div>


<span id="movedown" class="uk-overlay-panel uk-position-bottom-center uk-icon-button" uk-icon="icon: chevron-down; ratio: 3">

</span>

<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" id="b">
    <div id="particles-js"></div>
    @*<img src="~/Media/bg.jpeg" alt="" uk-cover uk-background-contain>*@

</div>

