@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

    <div class="uk-overlay-panel uk-position-center uk-light " style=" z-index:999!important;">
        <div class=" uk-overlay-panel ">
            <h1 class="uk-heading-primary">Hello, I'm <span class="highlight">Radu Dobos</span>.</h1>

            <h2 class="uk-text-break">I am a Web Developer. </h2>
            <h3>Living in Aarhus, Denmark </h3> 
        </div>
            </div> 


            <span id="movedown" class="uk-overlay-panel uk-position-bottom-center uk-icon-button" uk-icon="icon: chevron-down; ratio: 3">

            </span>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" id="b">
                <img src="~/Media/bg.jpeg" alt="" uk-cover uk-background-contain>
            </div>