@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover uk-background-top-right uk-background-blend-hue " style="background-image: url('../../Media/me2_blur.jpg');z-index: 1;
">
        <div class="uk-container">

            <h3>Who's this guy?</h3>

            <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
                <div>
                    <p class="w">
                        I am a 21 years old,
                        Web Developer.
                        Passionate about Back&Front-end development. For the last two years and a half of my professional and scholar career, I have obtained extensive knowledge within various fields such as .Net Development, various Frameworks, Virtual and Augumented reality, iOS, UX/UI Design, Business and Communication.

                        Feel free to take a look at my latest projects on the
                        portfolio page
                        ...
                    </p>

                </div>

                <a href="#" class="uk-link-reset" uk-toggle="target: #offcanvas-push">
                    <h6 class="w">Check out my achievements </h6>
                </a>
            </div>

        </div>
    </div>

</div>
<div class="uk-section  ">
<div class="uk-container ">


    <div class="uk-grid-match uk-child-width-1-3" uk-grid>
        <div>
            <div class="uk-card uk-card-small uk-card-body w" id="sk">
                <div class="uk-card-title">
                    <span uk-icon="icon: bolt; ratio:2;"></span>
                </div>
                <p class="uk-text-small">Driven by Performance</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-small uk-card-body w " id="sk1">
                <div class="uk-card-title"> <span uk-icon="icon: pencil; ratio:2;"></span> </div>
                <p class="uk-text-small"> Made For User Needs</p>

            </div>
        </div>
        <div>
            <div class="uk-card uk-card-small uk-card-body w " id="sk2">
                <div class="uk-card-title"> <span uk-icon="icon:  code; ratio:2;"></span> </div>

                <p class="uk-text-small"> Carefuly Built</p>
            </div>
        </div>
    </div>

</div>
    </div>
<div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center uk-visible@s uk-hidden@m" uk-grid>
    <div>
        <div class="uk-tile uk-tile-default">
            <p class="uk-h4">Moderate</p>
            <ul class="uk-list">
                <li>Swift</li>
                <li>Javascript</li>
                <li>VR & AR </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="uk-tile uk-tile-muted">
            <p class="uk-h4">Almost Advanced</p>
            <ul class="uk-list">
                <li>CMS</li>
                <li>Asp.Net</li>
                <li>SQL/noSQL</li>
            </ul>
        </div>
    </div>
   
</div>