@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!--
      <div class="uk-article uk-padding-large">
      <h1 class="uk-article-title ">Projects+</h1>
      <p class="uk-text-lead">
          @Html.Partial("codingAnimation")
      </p>
  </div>
  -->




<div class="uk-position-large uk-position-top-center "><h1 class="uk-heading-hero w">Projects+</h1></div>
<div class="uk-position-cover uk-overlay uk-overlay-light uk-flex uk-flex-center uk-flex-middle">
    @Html.Partial("codingAnimation")
    <h1 class="uk-hero-text uk-position-center uk-position-top">
        Page
        Under Construction
    </h1>
    @Html.Partial("codingAnimation")
</div>





