@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="uk-grid-collapse uk-child-width-1-2 overflow-hidden" uk-grid>
    <div class="uk-overflow-hidden">
        <div class="uk-background-cover"
             style="background-image: url('Media/me2.jpg');" uk-height-viewport id="imgab">
        </div>
    </div>
    <div class="uk-overflow-hidden">
        <div class="uk-padding uk-overflow-hidden " id="about">
            <h2 class="uk-heading-large uk-hidden@s">Who's this guy?</h2>

            <p class="uk-text-small" id="fade">
                I am a 21 years old,
                Web Developer.
                Passionate about Back&Front-end development. For the last two years and a half of my professional and scholar career, I have obtained extensive knowledge within various fields such as .Net Development, various Frameworks, Virtual and Augumented reality, iOS, UX/UI Design, Business and Communication.

                Feel free to take a look at my latest projects on the
                portfolio page
                ...
                <a href="#" class="uk-link-reset" uk-toggle="target: #offcanvas-push">
                    <h6 class="w"><img src="https://png.icons8.com/dusk/40/000000/diploma.png">Check out my achievements </h6>
                </a>

                <div id="chart">

                    <div class="uk-clearfix cz">
                        <div class="uk-float-right">
                            <div class="uk-text-small w">Advanced</div>
                        </div>
                        <div class="uk-float-left">
                            <div class="uk-text-small w">Newbie</div>
                        </div>
                    </div>

                    <div class="skillbar clearfix " data-percent="90%">
                        <div class="skillbar-title" style="background: #673AB7;"><span>SQL</span></div>
                        <div class="skillbar-bar" style="background: #311B92;"></div>
                        <div class="skill-bar-percent">95%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="64%">
                        <div class="skillbar-title" style="background:#647687;"><span>Javascript</span></div>
                        <div class="skillbar-bar" style="background: #e3c800;"></div>
                        <div class="skill-bar-percent">64%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="83%">
                        <div class="skillbar-title" style="background:#F50057;"><span>noSQL</span></div>
                        <div class="skillbar-bar" style="background: #DD2C00;"></div>
                        <div class="skill-bar-percent">82%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="47%">
                        <div class="skillbar-title" style="background:#000000;"><span>SWIFT</span></div>
                        <div class="skillbar-bar" style="background: #1ba1e2;"></div>
                        <div class="skill-bar-percent">47%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="75%">
                        <div class="skillbar-title" style="background:#60a917;"><span>C#</span></div>
                        <div class="skillbar-bar" style="background: #6a00ff;"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="78%">
                        <div class="skillbar-title" style="background:#21759b ;"><span>.NET</span></div>
                        <div class="skillbar-bar" style="background: #a20025;"></div>
                        <div class="skill-bar-percent">78%</div>
                    </div>

                </div>
            </p>


            <div class="uk-child-width-expand uk-text-center overflow-hidden" uk-grid>
                <div>

                    <div class="uk-card uk-card-small uk-card-body w uk-hidden" id="sk">
                        <div class="uk-card-title">
                            <span uk-icon="icon: bolt; ratio:2;"></span>

                        </div>
                        <p> Driven By Performance</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-small uk-card-body w uk-hidden" id="sk1">
                        <div class="uk-card-title"> <span uk-icon="icon: pencil; ratio:2;"></span> </div>
                        <p> Tailor-Made For User Needs</p>

                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-small uk-card-body w uk-hidden" id="sk2">
                        <div class="uk-card-title"> <span uk-icon="icon: heart; ratio:2;"></span>+ <span uk-icon="icon:  code; ratio:2;"></span> </div>

                        <p> Code Carefuly Built</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-offcanvas-content">

            @Html.Partial("achievements")
        </div>

    </div>

</div>