@inherits Umbraco.Web.Macros.PartialViewMacroPage



<a href="#form-modal" uk-toggle>
<div class="ObjectContainer uk-position-center">
    <div id="red" class="Object ">
        <h5>
            <i>Ready To Talk?</i>
        </h5>
        <h2 class="">
            Contact Me !
        </h2>

    </div>
   
</div>
    </a>

<div class="uk-position-bottom-left uk-position-large r">©Radu Dobos 2018</div>
<ul class="uk-iconnav uk-position-large uk-position-bottom-right" id="scm">
    <li><a href="https://www.linkedin.com/in/radu-dobos-444664138/" target="_blank" uk-icon="icon: linkedin;ratio:2"></a></li>
    <li><a href="https://github.com/radudo" target="_blank" uk-icon="icon: github;ratio: 2"></a></li>
    <li><a href="https://www.instagram.com/radudo/" target="_blank" uk-icon="icon: instagram;ratio: 2"></a></li>
</ul>

