@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
  <div id="menu-modal" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">

            <button class="uk-modal-close-default w" type="button" uk-icon="icon: close; ratio: 2"></button>
            <div class=" uk-position-left logo"><span class="highlight">R</span>adu Dobos</div>
            <div class="uk-flex-middle ">
                <div class="uk-background gradient-menu" uk-height-viewport>
                    <div id="nav-primary">
                        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-position-medium uk-position-center" id="myMenu">


                            <li data-menuanchor="firstPage" class="uk-active" id="first" ><a href="#">Intro</a></li>

                            <li data-menuanchor="secondPage" id="second"><a href="#">About</a></li>
                            <li data-menuanchor="thirdPage" id="third"><a href="#">Projects</a></li>

  
                        </ul>

                    </div>
                </div>
                <ul class="uk-iconnav uk-position-large uk-position-bottom-right">
                    <li><a href="#" uk-icon="icon: linkedin"></a></li>
                    <li><a href="#" uk-icon="icon: github"></a></li>
                    <li><a href="#" uk-icon="icon: instagram"></a></li>
                </ul>
            </div>

        </div>
    </div>